body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #3369f;
  color: #333;
}

header {
  background: #004d7a;
  color: white;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  padding: 2em;
  background: white;
  margin: 1em auto;
  max-width: 800px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.galeri {
  display: flex;
  gap: 1em;
}

.galeri img {
  width: 45%;
  border-radius: 8px;
}

form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
}

button {
  background: #004d7a;
  color: white;
  border: none;
  padding: 0.7em 1.5em;
  cursor: pointer;
}

